.right {
    height: 82vh;
    width: 50%;
    gap: 4vh;
    position: absolute;
    top: 10vh;
    left: 57vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttcreate {
    width: 435px;
    height: 65px;
    top: 649px;
    left: 901px;
    border-radius: 20px;
    background-color:black;
    }
.createtitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:1vh;
}
.title {
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
}
.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.twobutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2vh;
}
.haveaccount {
    position: relative;
    margin-top: 50px; /* Ajoute de l'espace en bas de l'élément */
    margin-left: 60px;
    display: flex;
    width: 100%;
    text-align: left;
}
.inp {
    text-align: justify;
}
.createac {
font-family: Poppins;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0.02em;
text-align: left;
color: #000000;
}
.letsget {
    font-family: Poppins;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color:#8D8D8D;
}
.same {
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #000000;
}
.buttcreate p {
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
display: flex;
justify-content: center;
}
.buttsignup {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 435px;
height: 65px;
top: 649px;
left: 901px;
border-radius: 20px;
border: 1px solid #8D8D8D;
background-color:white;
}
.buttsignup p {
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: #000000;
display: flex;
justify-content: center;
}
.lastAlready {
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color:rgb(14 13 13 / 79%)
}
@media screen and (max-width:240px) {
    .lastAlready {
        font-size: 15px;
    }
    .letsget {
        font-size: 15px; 
    }
}
.lastsignin {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left; 
}
.logotext {
    display: flex;
    gap: 10px;
}
.createandgetstart {
    display: flex;
    flex-direction: column;
}
.createacc {
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: black;   
}
/* media screend*/
@media screen and (max-width:1020px) {
    .lastsignin {
        line-height: 0px;
    }
    .haveaccount {
        flex-direction: column;
        margin-left: 0;
    }
    .lastAlready {
font-family: Poppins;
position: relative;
bottom: 5vh;
text-align: left;
font-weight: 600;
line-height: 1px;
letter-spacing: 0.02em;
text-align: left;
color:rgb(14 13 13 / 79%)
    }
    .register {
        margin-bottom: 0vh;
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    .createac {
        font-family: Poppins;
font-size: 25px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0.02em;
text-align: left;
color: #000000;
    }
    .right {
        position: absolute;
        left: 50vw;
        margin-top: -1vh;
        gap: 0vh;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .buttcreate {
        width: 250px;
    }
    .buttsignup {
        width: 250px;
    }
}
/* media screend*/