.right {
    height: 100vh;
    width: 50%;
    gap: 4vh;
    position: absolute;
    top: 10vh;
    left: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width:1020px) {
    .right {
        position: absolute;
        left: 50vw;
    }
}
.createtitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:1vh;
}
.title {
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
}
.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.twobutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2vh;
}
.haveaccount {
    position: relative;
    margin-top: 50px; /* Ajoute de l'espace en bas de l'élément */
    margin-left: 60px;
    display: flex;
    width: 100%;
    gap: 1vw;
    text-align: left;
}
.inp {
    text-align: justify;
}
.createac {
font-family: Poppins;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0.02em;
text-align: left;
color: #000000;
}
.letsget {
    font-family: Poppins;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color:#8D8D8D;
}
.same {
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #000000;
}
.buttcreate {
width: 435px;
height: 65px;
top: 649px;
left: 901px;
border-radius: 20px;
background-color:black;
}
.buttcreate p {
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
display: flex;
justify-content: center;
}
.buttsignup {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 435px;
height: 65px;
top: 649px;
left: 901px;
border-radius: 20px;
border: 1px solid #8D8D8D;
background-color:white;
}
.buttsignup p {
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: #000000;
display: flex;
justify-content: center;
}
.lastAlready {
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color:rgb(14 13 13 / 79%)
}
.lastsignin {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left; 
}
.logotext {
    display: flex;
    gap: 10px;
}
.createacc {
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: black;
}