section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.titleandimg {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loreum{
    width: 100%;
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0px;
text-align: center;
color:#666666
}
.Browse {
    width: 100%;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    color: #333333;
text-align: center;

}
@media screen and (max-width:1500px) {
    .Browse {
        text-align: left;
    }
    .title {
        
        position: relative;
        margin-left: 25%;
    }
    .loreum {
        text-align: left;
    }
    .imgtitle {
        display: flex;
        flex-direction: column;
    }
    .titleandimg {
       justify-content: center;
    }
}
.flex {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
.imgtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.subtitle {
    color: #333333;
    font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0px;
text-align: center;
}