section {
    width: 100%;
}
.loreum  {
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #333333;
}
section.bgrnd {
    width: 100vw;
    margin-top: 75px;
    left: 0px;
    background-image: url(../../../assets/backgroundabout.png);
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Discover {
background-color: #FFF3E3;
width: 550px;
height: 390px;
margin-top: -70px;
margin-left: 30vw;
border-radius: 0px;
}
.Discoverdetails {
    margin-top: 15px;
padding: 10px;
text-align: left;
margin-left: 20px;
gap:20px;
display: flex;
    flex-direction: column;
}
.h1discover {
    color: #B88E2F;
font-family: Poppins;
font-size: 52px;
font-weight: 700;
line-height: 65px;
letter-spacing: 0px;
}
@media screen and (max-width:1000px) {
    .Discover {
        position: relative;
        margin-left: 15vw;
    }
    .h1discover {
        word-wrap: break-word; /* Permet au texte de sauter automatiquement à la ligne */
    }
}
.newariv {
    color:#333333;
    display: flex;
    width: 100%;
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 3px;
text-align: left;
}
button.buyy{
    width: 222px;
    height: 74px;
    top: 585px;
    left: 778px;
    padding: 25px 72px 25px 72px;
    gap: 10px;
    background-color: #B88E2F;
    border: none; /* Supprime les bordures */
  border-radius: 0; /* Désactive les coins arrondis */
}
.butnow {
    color: white;
    width:  (222px);
height:  (74px);
padding: 25px, 72px, 25px, 72px;
gap: 10px;
}