.left {
    background-image: url(../../../assets/womenimg.png);
    height: 100vh;
    display: flex;
    background-size: 50vw 100%;
    width: 100%;
    position: absolute; /*importante pour position*/
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }
  .backgroundimg {
    display: flex;
    width: 100%;
  }
  .furnio {
    margin-top: 8vh;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: left;
        margin-left: 10vh;
    text-align: left;
    color: white; 
  }
  .txtflex {
    width: 100%;
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 83vh;
    gap: 28vh;
}
/* media screen*/
@media screen and (max-width:1100px) {
  .haveaccount {
    margin-top: 0px;
  }
  .txtflex {
    width: 50%;
    margin-left: 2vh;
    height: 80vh;
    white-space: normal; /* Permettre le retour à la ligne automatique */
    position: relative; /* Assurez-vous que l'élément est positionné de manière relative */
  }
  .furnio {
    margin-left: 0vh;
    max-width: 100%;
  }
  .txtflex h1 {
    color: white;
  }
  .txtflex h2 {
    color: white;
    height: 30vh;
  }
  .txtflex h4 {
    color: white;
  }
  h2 , h4 {
    font-size: 10px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;    
    white-space: normal; /* Permettre le retour à la ligne automatique */
    overflow: visible !important; /* Assurer que le débordement est visible */
  }
}

/* media screen*/
.txtflex h1 {
  color: white;
}
.txtflex h2 {
  color: white;
}
.txtflex h3{
  color: white;
}
.txtflex h4 {
  color: white;
}
h2 , h4 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;    
}
  .ceo {
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
  }
.website {
color: #FFFFFF;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
  }