.left {
    background-image: url(../../../assets/womenimg.png);
    height: 100vh;
    display: flex;
    background-size: 50vw 100%;
    width: 100%;
    position: absolute; /*importante pour position*/
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }
  .backgroundimg {
    display: flex;
    width: 100%;
  }
  .furnio {
    margin-top: 8vh;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: left;
        margin-left: 10vh;
    text-align: left;
    color: white; 
  }
  .txtflex {
    width: 100%;
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 83vh;
    gap: 28vh;
}
.abc {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color:#FFFFFF
    }
/* media screen*/
@media screen and (max-width:1100px) {
  .haveaccount {
    margin-top: 0px;
  }
  .txtflex {
    width: 50%;
    margin-left: 2vh;
    height: 80vh;
    white-space: normal; /* Permettre le retour à la ligne automatique */
    position: relative; /* Assurez-vous que l'élément est positionné de manière relative */
  }
  .furnio {
    margin-left: 0vh;
    max-width: 100%;
  }
  .abc {
    height: 10vh;
    font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color:#FFFFFF
  }
 
 
}

/* media screen*/

  .ceo {
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
  }
.website {
color: #FFFFFF;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
  }
 