.left {
    background-image: url(../../../assets/womenimg.png);
    height: 100vh;
    display: flex;
    width: 50%;
    position: absolute; /*importante pour position*/
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }
  h1 {
    margin-top: 10vh;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: left;
        margin-left: 10vh;
    text-align: left;
    color: white; 
  }
  h2 , h4 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;    
  }
  .txtflex {
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    height: 70vh;
    gap: 28vh;
}
  .txtflex h1 {
    color: white;
  }
  .txtflex h2 {
    color: white;
  }
  .txtflex h3{
    color: white;
  }
  .txtflex h4 {
    color: white;
  }
  .ceo {
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
  }
.website {
color: #FFFFFF;
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
  }